name: update repo index

on:
  push:
    branches:
      - main  # or your default branch name
    paths:
      - 'debs/**'  

jobs:
  update-index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 

      - name: Install dpkg-dev
        run: sudo apt-get install -y dpkg-dev bzip2

      - name: Scan Packages
        run: |
          # Scans the /debs folder and creates the index
          dpkg-scanpackages -m debs /dev/null > Packages
          # Compresses the index for Cydia/Zebra
          bzip2 -fks Packages

      - name: Commit and Push Changes
        run: |
          git config --global user.name "PlazmaBot"
          git config --global user.email "bot@plazma.com"
          git add Packages Packages.bz2
          git commit -m "Auto-update Packages index" || echo "nah yall dont have any changes to commit"
          git push
